.button1 {
  color: #331a00;
  background: rgb(198, 156, 83,0.5);
  border: 5px solid rgb(26, 13, 0,0.95);
  width:190px;
  height: 60px;
  font-size: 19px;
  margin-bottom: 5px;
  }

  .button1:hover, .button1:focus, .button1:active {
    background: rgb(198, 156, 83,0.5) !important;
    color: #331a00;
    border:5px solid rgb(26, 13, 0,0.95) !important;
    box-shadow:none!important;
       }
   a{
     color: #331a00 !important;
   }
   a:hover{
     color: #331a00 !important;
   }
