
.form-control {
  border: 3px solid #331a00!important;
  background-color: rgb(198, 156, 83,0.7)!important;
  box-shadow:none!important;
  color: #331a00!important;
}
.form-control:hover,.form-control:focus {
  border: 3px solid #331a00!important;
  background-color: rgb(198, 156, 83,0.7)!important;
  color: #331a00!important;
  box-shadow:none!important;
}
.form-control::placeholder{
  color: #331a00!important;
}
input:-webkit-autofill:focus{
  color: #331a00!important;
  background-color: rgb(198, 156, 83,0.7)!important;
}
.btn-secondary {
  background-color: rgb(198, 156, 83,0.7)!important;
  color: #331a00!important;
  border: none;
}
#submit:hover,#submit:focus,#submit:active{
  background-color: rgb(198, 156, 83,0.7)!important;
  color: #331a00!important;
  border: none;
}
.labelform, .labelformmsg{
  font-size: 20px;
  color: rgb(198, 156, 83,0.7)!important;

}
#submit{
  box-shadow:none!important;
}
.title{
  margin-bottom: 35px;
}
